extends layout

block content
  div(ng-controller='AppCtrl')
    div(ui-view)

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')
